.shop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shop header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background-color: #f5f5f5;
}
.shop nav {
  padding: 1rem;
  background-color: #f5f5f5;
}

.shop main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 2rem;
}

.shop footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background-color: #f5f5f5;
}
